{
	"wdaproxy_port": 8100,
	"mirrorfeed_port": 8000,
	"stf_ip": "192.168.255.1",
	"stf_hostname": "[your stf server hostname]",
	"xcode_dev_team_id": "[your xcode developer ID; ~10 char alphanumeric]",
	"skip_video": false
}
